# Data Exploration: Combining all datasets together

In [1]:
import requests
import configparser
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructType, StructField, StringType, DateType, IntegerType, BooleanType, FloatType

spark = SparkSession.builder.master('local[*]').appName('DataExploration').getOrCreate()

In [3]:
# Schema of the Police Shootings Dataset
psSchema = StructType([\
                       StructField('id', IntegerType(), False),
                       StructField('name', StringType(), True),
                       StructField('date', DateType(), True),
                       StructField('manner_of_death', StringType(), True),
                       StructField('armed', StringType(), True),
                       StructField('age', IntegerType(), True),
                       StructField('gender', StringType(), True),
                       StructField('race', StringType(), True),
                       StructField('city', StringType(), True),
                       StructField('state', StringType(), True),
                       StructField('s_o_m_i', BooleanType(), True),
                       StructField('threat_level', StringType(), True),
                       StructField('flee', StringType(), True),
                       StructField('body_camera', BooleanType(), True),
                       StructField('longitude', FloatType(), True),
                       StructField('latitude', FloatType(), True),
                       StructField('is_geocoding_exact', BooleanType(), True)
                        ])

headersAuth = {
    'Authorization': 'Bearer '+ config['unemploymentAPI']['unemploymentAPIKey']
}

In [4]:
# US Cities and Counties
usCitiesDF = spark.read.option('header', 'True').option('inferSchema', 'true').csv(config['pathways']['usCities'])
usCitiesDF.createOrReplaceTempView('usCities')

# US Demographics
usDemoDF = spark.read.option('header', 'true').option('inferSchema', 'true').csv(config['pathways']['usDemographics'])
usDemoDF.createOrReplaceTempView('usDemo')

# US Unemployment by County
endPointTemplate = 'https://api.careeronestop.org/v1/unemployment/{}/{}/{}'
url = endPointTemplate.format(config['unemploymentAPI']['unemploymentUserID'], 'CA', 'county')
response = requests.get(url, headers=headersAuth, verify=True)
response = response.json()['CountyList']
caUEDataRDD = spark.sparkContext.parallelize(response)
caUEDataDF = spark.read.json(caUEDataRDD)
caUEDataDF = caUEDataDF.withColumn("State", func.lit('CA'))
caUEDataDF.createOrReplaceTempView('usUnemployment')

# Police Shootings
psDF = spark.read.option('header', 'True').schema(psSchema).csv(config['pathways']['policeShootings'])
psDF.createOrReplaceTempView('policeShootings')

## US Cities and Counties

In [5]:
usCitiesDF = spark.sql("""
    SELECT 
        state_id,
        state_name,
        county_name as county,
        city
    FROM usCities
""")

usCitiesDF.createOrReplaceTempView('usCitiesNorm')
usCitiesDF.show(5)

+--------+----------+-----------+-----------+
|state_id|state_name|     county|       city|
+--------+----------+-----------+-----------+
|      NY|  New York|   New York|   New York|
|      CA|California|Los Angeles|Los Angeles|
|      IL|  Illinois|       Cook|    Chicago|
|      FL|   Florida| Miami-Dade|      Miami|
|      TX|     Texas|     Dallas|     Dallas|
+--------+----------+-----------+-----------+
only showing top 5 rows

## US Demographics

In [6]:
# Normalize and Select relative columns
# Note: Records that have null values in the following columns: sex, race, min_age, max_age
#       need to be filtered out. Otherwise overcounting occurs.
#       Null in those columns, represents (Across all {sex, race, age})
usDemoNorm = spark.sql("""   
                        SELECT
                            state_name,
                            county_name,
                            sex,
                            min_age,
                            max_age,
                            year,
                            CASE 
                                WHEN race like 'AMERICAN INDIAN%' then 'American Indian'
                                WHEN race like 'SOME OTHER RACE%' then 'Other'
                                WHEN race like 'WHITE%' then 'White'
                                WHEN race like 'ASIAN%' then 'Asian'
                                WHEN race like 'NATIVE HAWAIIAN%' then 'Native Hawaiian'
                                WHEN race like 'TWO OR MORE%' then 'Mixed'
                                WHEN race like 'BLACK%' then 'African American'
                            END as race,
                            population
                        FROM usDemo
                        WHERE year = '2010' AND race is NOT NULL AND sex is NOT NULL 
                              AND min_age is NOT NULL AND max_age is NOT NULL
                        """)
usDemoNorm.createOrReplaceTempView('usDemoNorm')
usDemoNorm.show(5)

+----------+---------------+------+-------+-------+----+---------------+----------+
|state_name|    county_name|   sex|min_age|max_age|year|           race|population|
+----------+---------------+------+-------+-------+----+---------------+----------+
|     Texas|Crockett County|  Male|    5.0|    9.0|2010|          White|       123|
|     Texas|Crockett County|Female|   67.0|   69.0|2010|          Asian|         1|
|     Texas|Crockett County|Female|   55.0|   59.0|2010|          White|       111|
|     Texas|Crockett County|  Male|   21.0|   21.0|2010|          White|         7|
|     Texas|Crockett County|Female|   67.0|   69.0|2010|Native Hawaiian|         0|
+----------+---------------+------+-------+-------+----+---------------+----------+
only showing top 5 rows

## Police Shootings

In [7]:
policeShootingsNorm = spark.sql("""
        SELECT 
            id,
            name,
            date,
            manner_of_death,
            armed,
            age,
            gender,
            s_o_m_i,
            threat_level,
            flee,
            body_camera,
            CASE
                WHEN race = 'A' THEN 'Asian'
                WHEN race = 'B' THEN 'Black'
                WHEN race = 'N' THEN 'Native'
                WHEN race = 'H' THEN 'Hispanic'
                WHEN race = 'W' THEN 'White'
                WHEN race = 'O' THEN 'Other'
                ELSE 'Not Documented'
            END as race, 
            city, 
            state as state_id
        FROM    
          policeShootings

""")
policeShootingsNorm.createOrReplaceTempView('policeShootingsNorm')
policeShootingsNorm.show(5)

+---+------------------+----------+----------------+----------+---+------+-------+------------+-----------+-----------+--------+-------------+--------+
| id|              name|      date| manner_of_death|     armed|age|gender|s_o_m_i|threat_level|       flee|body_camera|    race|         city|state_id|
+---+------------------+----------+----------------+----------+---+------+-------+------------+-----------+-----------+--------+-------------+--------+
|  3|        Tim Elliot|2015-01-02|            shot|       gun| 53|     M|   true|      attack|Not fleeing|      false|   Asian|      Shelton|      WA|
|  4|  Lewis Lee Lembke|2015-01-02|            shot|       gun| 47|     M|  false|      attack|Not fleeing|      false|   White|        Aloha|      OR|
|  5|John Paul Quintero|2015-01-03|shot and Tasered|   unarmed| 23|     M|  false|       other|Not fleeing|      false|Hispanic|      Wichita|      KS|
|  8|   Matthew Hoffman|2015-01-04|            shot|toy weapon| 32|     M|   true|      attack|Not fleeing|      false|   White|San Francisco|      CA|
|  9| Michael Rodriguez|2015-01-04|            shot|  nail gun| 39|     M|  false|      attack|Not fleeing|      false|Hispanic|        Evans|      CO|
+---+------------------+----------+----------------+----------+---+------+-------+------------+-----------+-----------+--------+-------------+--------+
only showing top 5 rows

## US Unemployment

In [8]:
caUEDataDF.createOrReplaceTempView("caUE")
caUEDataDF = spark.sql("""
        SELECT 
            State as state_id, 
            REPLACE(AreaName, ' County', '') as county,
            UnEmpCount as unemployment_count,
            UnEmpRate as unemployment_rate
        FROM caUE
        """)

caUEDataDF.createOrReplaceTempView("caUE")
caUEDataDF.show(5)

+--------+---------+------------------+-----------------+
|state_id|   county|unemployment_count|unemployment_rate|
+--------+---------+------------------+-----------------+
|      CA|  Alameda|             52111|              6.5|
|      CA|   Alpine|                46|              7.6|
|      CA|   Amador|              1074|              7.4|
|      CA|    Butte|              6917|              7.5|
|      CA|Calaveras|              1351|              6.3|
+--------+---------+------------------+-----------------+
only showing top 5 rows

## California Subset

In [37]:
spark.sql("""
    SELECT 
        usc.state_name,
        usc.county,
        ps.name, 
        ps.manner_of_death,
        ps.armed,
        ps.age,
        ps.gender,
        ps.s_o_m_i,
        ps.threat_level,
        ps.flee,
        ps.body_camera,
        ps.race,
        ue.unemployment_count,
        ue.unemployment_rate
    FROM policeShootingsNorm as ps
    JOIN usCitiesNorm as usc
    ON ps.state_id = usc.state_id and ps.city = usc.city
    JOIN caUE as ue 
    ON ps.state_id = ue.state_id and usc.county = ue.county
    WHERE usc.state_name = 'California'
""").show(20)

+----------+--------+--------------------+----------------+------------+----+------+-------+------------+-----------+-----------+--------------+------------------+-----------------+
|state_name|  county|                name| manner_of_death|       armed| age|gender|s_o_m_i|threat_level|       flee|body_camera|          race|unemployment_count|unemployment_rate|
+----------+--------+--------------------+----------------+------------+----+------+-------+------------+-----------+-----------+--------------+------------------+-----------------+
|California|   Kings|      Edgar Espinoza|            shot|       knife|  35|     M|  false|      attack|Not fleeing|      false|      Hispanic|              5816|             10.5|
|California|   Kings| Blayne Erwin Morris|            shot|         gun|  23|     M|  false|      attack|        Car|      false|Not Documented|              5816|             10.5|
|California|   Kings|       Johnny Castro|            shot|         gun|  43|     M|  false|      attack|        Car|      false|      Hispanic|              5816|             10.5|
|California|   Kings|        Dave Phoenix|            shot|  toy weapon|  25|     M|  false|      attack|Not fleeing|      false|        Native|              5816|             10.5|
|California|   Kings|Sergio Velasco-Ma...|            shot|blunt object|  25|     M|  false|      attack|Not fleeing|      false|      Hispanic|              5816|             10.5|
|California|   Kings|Dominique Antwon ...|            shot|     machete|  26|     M|   true|      attack|Not fleeing|      false|         Black|              5816|             10.5|
|California|  Sonoma|        Pablo Garcia|shot and Tasered|       knife|  35|     M|   true|      attack|Not fleeing|       true|      Hispanic|             14431|                6|
|California|  Sonoma|         Karen Janks|            shot|        null|  46|     F|  false|      attack|        Car|      false|         White|             14431|                6|
|California|  Sonoma|     Victor Gonzalez|            shot|      hammer|  44|     M|  false|       other|Not fleeing|      false|      Hispanic|             14431|                6|
|California|    Napa|  Juan Adrian Garcia|            shot|     unarmed|  47|     M|  false|       other|Not fleeing|       true|      Hispanic|              4489|              6.6|
|California|    Napa|Brandan Reid Nyla...|            shot|         gun|  24|     M|  false|       other|        Car|      false|         White|              4489|              6.6|
|California|    Napa|David Alejandro M...|            shot|         gun|  27|     M|   true|      attack|       Foot|      false|      Hispanic|              4489|              6.6|
|California|    Napa|Stephen Connard F...|            shot|         gun|  65|     M|  false|      attack|        Car|      false|         White|              4489|              6.6|
|California|    Napa|  Noel Aaron Russell|            shot|       knife|  23|     M|   true|       other|Not fleeing|      false|         White|              4489|              6.6|
|California|    Napa|James Richard Jim...|            shot|         gun|  41|     M|  false|       other|      Other|      false|      Hispanic|              4489|              6.6|
|California|  Madera|Michael Robert Novak|            shot|       knife|  58|     M|   true|      attack|Not fleeing|       true|         White|              5857|              9.7|
|California|  Madera|                null|            shot|undetermined|null|     M|  false|       other|       Foot|      false|Not Documented|              5857|              9.7|
|California|  Madera|   Sergio Valdovinos|            shot|     machete|  32|     M|   true|       other|Not fleeing|      false|      Hispanic|              5857|              9.7|
|California|  Madera|  Alejandro Alvarado|            shot|       knife|  35|     M|  false|      attack|Not fleeing|      false|      Hispanic|              5857|              9.7|
|California|Siskiyou|Daniel Jonathan S...|            shot|undetermined|  31|     M|  false|      attack|Not fleeing|      false|         White|              1549|              9.3|
+----------+--------+--------------------+----------------+------------+----+------+-------+------------+-----------+-----------+--------------+------------------+-----------------+
only showing top 20 rows