# Data Exploration for Police Shooting Data

**[Synopsis] The following explores the US Cities dataset pertaining to the Police Shooting Dashboard**

Use the following URL:
* [US Cities Data](https://simplemaps.com/data/us-cities)

*****

In [1]:
import requests
import configparser
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructType, StructField, StringType, DateType, IntegerType, BooleanType, FloatType

spark = SparkSession.builder.master('local[*]').appName('DataExploration').getOrCreate()

In [3]:
# Creating Dataframe and Temp View
usCitiesDF = spark.read.option('header', 'True').option('inferSchema', 'true').csv(config['pathways']['usCities'])
usCitiesDF.createOrReplaceTempView('usCities')

In [5]:
usCitiesDF.printSchema()

root
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- state_id: string (nullable = true)
 |-- state_name: string (nullable = true)
 |-- county_fips: integer (nullable = true)
 |-- county_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- population: integer (nullable = true)
 |-- density: integer (nullable = true)
 |-- source: string (nullable = true)
 |-- military: boolean (nullable = true)
 |-- incorporated: boolean (nullable = true)
 |-- timezone: string (nullable = true)
 |-- ranking: integer (nullable = true)
 |-- zips: string (nullable = true)
 |-- id: integer (nullable = true)

### Data Preview

In [8]:
usCitiesDF.select('city', 'city_ascii', 'state_id', 'state_name', 'county_name', 'lat', 'lng', 'population').show()

+-------------+-------------+--------+--------------------+--------------------+-------+---------+----------+
|         city|   city_ascii|state_id|          state_name|         county_name|    lat|      lng|population|
+-------------+-------------+--------+--------------------+--------------------+-------+---------+----------+
|     New York|     New York|      NY|            New York|            New York|40.6943| -73.9249|  18713220|
|  Los Angeles|  Los Angeles|      CA|          California|         Los Angeles|34.1139|-118.4068|  12750807|
|      Chicago|      Chicago|      IL|            Illinois|                Cook|41.8373| -87.6862|   8604203|
|        Miami|        Miami|      FL|             Florida|          Miami-Dade|25.7839| -80.2102|   6445545|
|       Dallas|       Dallas|      TX|               Texas|              Dallas|32.7936| -96.7662|   5743938|
| Philadelphia| Philadelphia|      PA|        Pennsylvania|        Philadelphia|40.0077| -75.1339|   5649300|
|      Houston|      Houston|      TX|               Texas|              Harris|29.7863| -95.3889|   5464251|
|      Atlanta|      Atlanta|      GA|             Georgia|              Fulton|33.7627| -84.4224|   5449398|
|   Washington|   Washington|      DC|District of Columbia|District of Columbia|38.9047| -77.0163|   5379184|
|       Boston|       Boston|      MA|       Massachusetts|             Suffolk|42.3188| -71.0846|   4688346|
|      Phoenix|      Phoenix|      AZ|             Arizona|            Maricopa|33.5722|-112.0891|   4219697|
|      Seattle|      Seattle|      WA|          Washington|                King|47.6211|-122.3244|   3789215|
|San Francisco|San Francisco|      CA|          California|       San Francisco|37.7562| -122.443|   3592294|
|      Detroit|      Detroit|      MI|            Michigan|               Wayne|42.3834| -83.1024|   3506126|
|    San Diego|    San Diego|      CA|          California|           San Diego|32.8312|-117.1225|   3220118|
|  Minneapolis|  Minneapolis|      MN|           Minnesota|            Hennepin|44.9635| -93.2678|   2977172|
|        Tampa|        Tampa|      FL|             Florida|        Hillsborough|27.9942| -82.4451|   2908063|
|       Denver|       Denver|      CO|            Colorado|              Denver|39.7621|-104.8759|   2876625|
|     Brooklyn|     Brooklyn|      NY|            New York|               Kings|40.6501| -73.9496|   2559903|
|       Queens|       Queens|      NY|            New York|              Queens|40.7498| -73.7976|   2230722|
+-------------+-------------+--------+--------------------+--------------------+-------+---------+----------+
only showing top 20 rows

In [10]:
usCitiesDF.select('density', 'source', 'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id').show()

+-------+-------+--------+------------+-------------------+-------+--------------------+----------+
|density| source|military|incorporated|           timezone|ranking|                zips|        id|
+-------+-------+--------+------------+-------------------+-------+--------------------+----------+
|  10715|polygon|   false|        true|   America/New_York|      1|11229 11226 11225...|1840034016|
|   3276|polygon|   false|        true|America/Los_Angeles|      1|90291 90293 90292...|1840020491|
|   4574|polygon|   false|        true|    America/Chicago|      1|60018 60649 60641...|1840000494|
|   5019|polygon|   false|        true|   America/New_York|      1|33129 33125 33126...|1840015149|
|   1526|polygon|   false|        true|    America/Chicago|      1|75287 75098 75233...|1840019440|
|   4554|polygon|   false|        true|   America/New_York|      1|19154 19151 19150...|1840000673|
|   1399|polygon|   false|        true|    America/Chicago|      1|77069 77068 77061...|1840020925|
|   1441|polygon|   false|        true|   America/New_York|      1|30334 30331 30332...|1840013660|
|   4457|polygon|   false|        true|   America/New_York|      1|20010 20011 20012...|1840006060|
|   5532|polygon|   false|        true|   America/New_York|      1|02120 02121 02122...|1840000455|
|   1253|polygon|   false|        true|    America/Phoenix|      1|85008 85009 85006...|1840020568|
|   3469|polygon|   false|        true|America/Los_Angeles|      1|98109 98108 98104...|1840021117|
|   7256|polygon|   false|        true|America/Los_Angeles|      1|94130 94131 94132...|1840021543|
|   1864|polygon|   false|        true|    America/Detroit|      1|48209 48208 48201...|1840003971|
|   1686|polygon|   false|        true|America/Los_Angeles|      1|92109 92108 92103...|1840021990|
|   3071|polygon|   false|        true|    America/Chicago|      1|55403 55409 55408...|1840007830|
|   1353|polygon|   false|        true|   America/New_York|      1|33637 33629 33621...|1840015982|
|   1831|polygon|   false|        true|     America/Denver|      1|80264 80230 80231...|1840018789|
|  14221|polygon|   false|        true|   America/New_York|      1|11212 11213 11216...|1840034030|
|   7885|polygon|   false|        true|   America/New_York|      1|11361 11362 11363...|1840034002|
+-------+-------+--------+------------+-------------------+-------+--------------------+----------+
only showing top 20 rows

### Relevant Columns

In [12]:
# Relevant Columns, 
usCitiesDF.select('state_id', 'state_name', 'city', 'county_name').show()

+--------+--------------------+-------------+--------------------+
|state_id|          state_name|         city|         county_name|
+--------+--------------------+-------------+--------------------+
|      NY|            New York|     New York|            New York|
|      CA|          California|  Los Angeles|         Los Angeles|
|      IL|            Illinois|      Chicago|                Cook|
|      FL|             Florida|        Miami|          Miami-Dade|
|      TX|               Texas|       Dallas|              Dallas|
|      PA|        Pennsylvania| Philadelphia|        Philadelphia|
|      TX|               Texas|      Houston|              Harris|
|      GA|             Georgia|      Atlanta|              Fulton|
|      DC|District of Columbia|   Washington|District of Columbia|
|      MA|       Massachusetts|       Boston|             Suffolk|
|      AZ|             Arizona|      Phoenix|            Maricopa|
|      WA|          Washington|      Seattle|                King|
|      CA|          California|San Francisco|       San Francisco|
|      MI|            Michigan|      Detroit|               Wayne|
|      CA|          California|    San Diego|           San Diego|
|      MN|           Minnesota|  Minneapolis|            Hennepin|
|      FL|             Florida|        Tampa|        Hillsborough|
|      CO|            Colorado|       Denver|              Denver|
|      NY|            New York|     Brooklyn|               Kings|
|      NY|            New York|       Queens|              Queens|
+--------+--------------------+-------------+--------------------+
only showing top 20 rows

In [15]:
spark.sql("""
    SELECT 
        state_id,
        state_name,
        county_name,
        city
    FROM usCities where state_id = 'WA' and city = 'Shelton'
""").show()

+--------+----------+-----------+-------+
|state_id|state_name|county_name|   city|
+--------+----------+-----------+-------+
|      WA|Washington|      Mason|Shelton|
+--------+----------+-----------+-------+